<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114866143933-1tkpnb9afi4kg0tuqa86lk98v0qsjqfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114866143933-1tkpnb9afi4kg0tuqa86lk98v0qsjqfv</string>
	<key>API_KEY</key>
	<string>AIzaSyAttBAkygqVhuE9MU5-PAI6B2ied_848Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>114866143933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wigootaxidriver</string>
	<key>PROJECT_ID</key>
	<string>taxi-app-driver-a27da</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-app-driver-a27da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114866143933:ios:8e0f1b0d27dde51399add4</string>
</dict>
</plist>